* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', system-ui;
}

nav ul {
    background-color: rgb(175, 255, 175);
}

nav ul li {
    text-decoration: none;
    font-size: 13px;
    text-align: left;
    list-style-type: none;
    margin-top: -1.9px;
    border-color: black;
    border-bottom: solid;
    border-width: 1px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    justify-content: space-between;
    display: flex;
    font-size: 11px;
    transition: 0.3s;
}

nav ul li a img {
    width: auto;
    height: 32px;
}

header nav a:hover {
    background-color: rgb(19, 198, 73);
    transition: 0.3s;
}

main {
    background-color: rgb(255, 215, 172);
}

.gif {
    padding-left: 45%;
    padding-top: 10px;
}

main h1 {
    font-size: 17px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 10px;
}

main h1 span {
    text-shadow: rgb(0, 193, 0) 2px 2px;
}

.mannequin {
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 10px;
    display: flex;
    text-align: end;
    padding-right: 10px;
    font-size: 12px;
    line-height: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mannequin img {
    width: 100px;
    height: fit-content;
}

main p:first-of-type {
    width: 70%;
    padding-left: 10px;
    font-size: 12px;
    line-height: 2em;
}

.text {
    text-align: end;
    padding-right: 10px;
    font-size: 12px;
    line-height: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40%;
}

main p:nth-of-type(3) {
    text-align: left;
    font-size: 12px;
    line-height: 2em;
    padding-right: 40%;
    padding-bottom: 20px;
    padding-left: 10px;
}

main p:nth-of-type(4) {
    text-align: center;
    font-size: 12px;
    line-height: 2em;
    padding-top: 10px;
    padding-bottom: 20px;
}

footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(219, 99, 212);
    font-size: 11px;
}

/* start pagina 2*/

main div {
    padding-left: 10%;
    padding-right: 10%;
    color: black;
    text-align: center;
    font-size: 16px;
    padding-bottom: 20px;
}

main div a {
    color: black;
    text-decoration: none;
    background-color: white;
    flex-direction: column;
    display: flex;
}

.foto {
    justify-content: center;
    align-items: center;
    display: flex;
}



.titel {
    text-shadow: 2px 2px yellow;
}

main p span {
    text-shadow: 2px 2px rgb(87, 183, 255);
}